## Introduction
### Dataset Description
The dataset contains 2 columns:
* ID: A unique identifier for each record.
* Messy Text: A paragraph that contains four personal details:
    * Name
    * Phone Number
    * Date of Birth (DOB)
    * Email

### Task
Your task is to extract the personal information (Name, Phone, Date of Birth, Email) from the messy text.

* Expected Output:

    ![image.png]()

# Project: Regex
### this notebook is for educational purpose . in this notebook we will Extract Useful information from messy data using Regex

## 1- import packages and load data

In [1]:
import pandas as pd
import re 
df=pd.read_csv('regex_data.csv')
df.head()

   ID                                         Messy Text
0   1  Mohamed Ali loves football. You can email him ...
1   2  On 15/08/1985, Ahmed Saad was born. He enjoys ...
2   3  Sara Mohamed’s phone is 01198765432. She was b...
3   4  Fatima ElSayed, an architect, was born on 07/0...
4   5  Mohamed Khalil runs a shop. Call him at 015112...

In [2]:
df.shape

(45, 2)

In [3]:
for i in range (0,5):
    print(df['Messy Text'][i])

Mohamed Ali loves football. You can email him at mohamedali@gmail.com. He was born on 12/05/1990 and his number is 01055512345.
On 15/08/1985, Ahmed Saad was born. He enjoys coding and his contact is 01023456789. Reach him at ahmedsaad@yahoo.com.
Sara Mohamed’s phone is 01198765432. She was born on 30/12/1988 and her email is sara.mohamed@gmail.com. She likes painting.
Fatima ElSayed, an architect, was born on 07/07/1992. Contact her via 01234567890 or fatimaelsayed@outlook.com.
Mohamed Khalil runs a shop. Call him at 01511223344, email: mohamed.khalil@gmail.com. Born on 20/01/1980.

In [9]:
s='mark ttt'
print(re.match(r'\b\w+',s))

<re.Match object; span=(0, 4), match='mark'>

## 2- Extract the name [First + second] and add it as column

In [14]:
name=[]
for row in df['Messy Text'] :

    rex=r'[A-Z]+[a-z]+\s[A-Z]+[a-z]+'
    # if re.match(rex,row)==None:
    #     name.append(None)
        # continue
    x=re.findall(rex,row)
    name.append(x[0])
    
print(name)

['Mohamed Ali', 'Ahmed Saad', 'Sara Mohamed', 'Fatima El', 'Mohamed Khalil', 'Ahmed Mostafa', 'Yasmin Hossam', 'Mohamed Gamal', 'Salma Nasr', 'Khalid Omar', 'Laila Mostafa', 'Hassan Mohamed', 'Mona Ahmed', 'Ramy Selim', 'Nada Mostafa', 'Omar Farouk', 'Sara Ibrahim', 'Ali Nasser', 'Dina Ahmed', 'Karim Mostafa', 'Fady Kamal', 'Marwa Elsayed', 'Tamer Adel', 'Nour Hassan', 'Lama Youssef', 'Omar Tarek', 'Shady Karim', 'Nesma Fawzy', 'Bassem Adel', 'Yara Mostafa', 'Samir Nabil', 'Hany Salah', 'Nouran Tarek', 'Karim Gamil', 'Yasmine Zaki', 'Omar Elhady', 'Basma Ahmed', 'Kareem Hossam', 'Nadia Youssef', 'Ahmed Tamer', 'Nour Emad', 'Salim Omar', 'Reem Taha', 'Hassan Ali', 'Mariam Samir']

# onther way

In [ ]:
# def extract_name(text):
#     match = re.search(r'\b([A-Z][a-z]+)\s+([A-Z][a-z]+)\b', text)
#     if match:
#         return f"{match.group (1)} {match.group (2)}"
#     return "Missed"

# df["Name"] = df["Messy Text"].apply(extract_name)

In [15]:

df['Name']=name
df.head()

   ID                                         Messy Text            Name
0   1  Mohamed Ali loves football. You can email him ...     Mohamed Ali
1   2  On 15/08/1985, Ahmed Saad was born. He enjoys ...      Ahmed Saad
2   3  Sara Mohamed’s phone is 01198765432. She was b...    Sara Mohamed
3   4  Fatima ElSayed, an architect, was born on 07/0...       Fatima El
4   5  Mohamed Khalil runs a shop. Call him at 015112...  Mohamed Khalil

In [16]:
df.head()

   ID                                         Messy Text            Name
0   1  Mohamed Ali loves football. You can email him ...     Mohamed Ali
1   2  On 15/08/1985, Ahmed Saad was born. He enjoys ...      Ahmed Saad
2   3  Sara Mohamed’s phone is 01198765432. She was b...    Sara Mohamed
3   4  Fatima ElSayed, an architect, was born on 07/0...       Fatima El
4   5  Mohamed Khalil runs a shop. Call him at 015112...  Mohamed Khalil

## 3- Extract the Date of Birth and add it as column

In [63]:
for i in range (0,5):
    print(df['Messy Text'][i])

Mohamed Ali loves football. You can email him at mohamedali@gmail.com. He was born on 12/05/1990 and his number is 01055512345.
On 15/08/1985, Ahmed Saad was born. He enjoys coding and his contact is 01023456789. Reach him at ahmedsaad@yahoo.com.
Sara Mohamed’s phone is 01198765432. She was born on 30/12/1988 and her email is sara.mohamed@gmail.com. She likes painting.
Fatima ElSayed, an architect, was born on 07/07/1992. Contact her via 01234567890 or fatimaelsayed@outlook.com.
Mohamed Khalil runs a shop. Call him at 01511223344, email: mohamed.khalil@gmail.com. Born on 20/01/1980.

In [77]:
y=df['Messy Text'][0]
re.findall(rex,y)

['12/05/1990']

In [22]:

date=[]
for row in df['Messy Text'] :
    rex=r"\d{2}/\d{2}/\d{4}|\d{4}/\d{2}/\d{2}"
    # if re.match(rex,row)==None:
    #     date.append(None)
        # continue
    x=re.findall(rex,row)
    date.append(x[0])

print(date)

['12/05/1990', '15/08/1985', '30/12/1988', '07/07/1992', '20/01/1980', '12/09/1991', '03/11/1993', '15/06/1987', '12/05/1994', '22/08/1982', '30/04/1989', '07/07/1980', '18/03/1991', '11/11/1983', '28/02/1986', '05/10/1990', '09/07/1995', '20/06/1992', '25/12/1987', '17/09/1984', '03/02/1990', '14/06/1988', '22/07/1993', '08/12/1985', '05/11/1991', '30/09/1987', '13/05/1996', '07/08/1992', '27/04/1983', '02/10/1994', '18/01/1995', '25/07/1990', '29/03/1989', '19/09/1986', '06/12/1987', '04/05/1982', '16/10/1991', '09/02/1985', '20/07/1993', '22/11/1984', '03/03/1990', '12/09/1992', '05/08/1995', '28/04/1983', '18/06/1988']

In [ ]:
# def extract_dob(text):
#     match = re.search(r'(\d{1,2}[-/]\d{1,2}[-/]\d{4}|\d{4}[-/]\d{1,2}[-/]\d{1,2})', text)
#     if match:
#      return match.group(1)
#     return "Missed"
# df["Date_of_Birth"] = df["Messy Text"].apply(extract_dob)

In [23]:
df['Date of Birth']=date
df.head()

,ID,Messy Text,Name,Date of Birth
0,1,Mohamed Ali loves football. You can email him ...,Mohamed Ali,12/05/1990
1,2,"On 15/08/1985, Ahmed Saad was born. He enjoys ...",Ahmed Saad,15/08/1985
2,3,Sara Mohamed’s phone is 01198765432. She was b...,Sara Mohamed,30/12/1988
3,4,"Fatima ElSayed, an architect, was born on 07/0...",Fatima El,07/07/1992
4,5,Mohamed Khalil runs a shop. Call him at 015112...,Mohamed Khalil,20/01/1980

## 4- Extract the Phone Number and add it as column

In [20]:
for i in range (0,5):
    print(df['Messy Text'][i])

Mohamed Ali loves football. You can email him at mohamedali@gmail.com. He was born on 12/05/1990 and his number is 01055512345.
On 15/08/1985, Ahmed Saad was born. He enjoys coding and his contact is 01023456789. Reach him at ahmedsaad@yahoo.com.
Sara Mohamed’s phone is 01198765432. She was born on 30/12/1988 and her email is sara.mohamed@gmail.com. She likes painting.
Fatima ElSayed, an architect, was born on 07/07/1992. Contact her via 01234567890 or fatimaelsayed@outlook.com.
Mohamed Khalil runs a shop. Call him at 01511223344, email: mohamed.khalil@gmail.com. Born on 20/01/1980.

In [25]:
ph_numper=[]
for row in df['Messy Text'] :
    rex=r"\d{11}"
    match = re.search(rex ,row)
    if match:
        x=re.findall(rex,row)
        ph_numper.append(x[0])
    else:
        ph_numper.append(None)    

print(ph_numper)

['01055512345', '01023456789', '01198765432', '01234567890', '01511223344', '01012345678', '01122334455', '01234567891', '01599887766', '01099887766', '01155667788', '01233445566', '01566778899', '01077889900', '01188990011', '01299887766', '01011223344', '01122113344', '01533445577', '01055667788', '01598765432', '01211223344', '01066778899', '01199887766', '01533445566', '01044556677', '01222334455', '01555667788', '01033445566', '01144556677', '01255667788', '01522334455', '01099887766', '01133445566', '01566778899', '01222334455', '01033445566', '01199887766', '01544556677', '01266778899', '01022334455', '01155667788', '01599887766', '01044556677', '01222334455']

In [ ]:
# def extract_phone(text):
#     match = re.search(r'(\+?\d{1,3}[-.\s]?\?\d{2,3}\)?[-.\s]?\d{3,4}[-.\s]?\d{4})', text)
#     if match:
#         return match.group(1)
#     return "Missed"
# df ["Phone"] = df ["Messy Text"].apply(extract_phone)

In [89]:
df['phone']=ph_numper

## 5- Extract the Email and add it as column

In [ ]:
email=[]
for row in df['Messy Text'] :
    rex=r"[a-z#$%&\.]+@\w+\.com"e
    x=re.findall(rex,row)
    email.append(x[0])

print(email)

['mohamedali@gmail.com', 'ahmedsaad@yahoo.com', 'sara.mohamed@gmail.com', 'fatimaelsayed@outlook.com', 'mohamed.khalil@gmail.com', 'ahmed.mostafa@gmail.com', 'yasmin.hossam@hotmail.com', 'mohamed.gamal@gmail.com', 'salma.nasr@gmail.com', 'khalid.omar@outlook.com', 'laila.mostafa@hotmail.com', 'hassan.mohamed@yahoo.com', 'mona.ahmed@gmail.com', 'ramy.selim@yahoo.com', 'nada.mostafa@gmail.com', 'omar.farouk@outlook.com', 'sara.ibrahim@gmail.com', 'ali.nasser@gmail.com', 'dina.ahmed@hotmail.com', 'karim.mostafa@outlook.com', 'fady.kamal@gmail.com', 'marwa.elsayed@hotmail.com', 'tamer.adel@outlook.com', 'nour.hassan@yahoo.com', 'lama.youssef@gmail.com', 'omar.tarek@hotmail.com', 'shady.karim@gmail.com', 'nesma.fawzy@outlook.com', 'bassem.adel@yahoo.com', 'yara.mostafa@gmail.com', 'samir.nabil@hotmail.com', 'hany.salah@outlook.com', 'nouran.tarek@gmail.com', 'karim.gamil@yahoo.com', 'yasmine.zaki@gmail.com', 'omar.elhady@hotmail.com', 'basma.ahmed@gmail.com', 'kareem.hossam@yahoo.com', 'nadia.youssef@outlook.com', 'ahmed.tamer@gmail.com', 'nour.emad@hotmail.com', 'salim.omar@yahoo.com', 'reem.taha@gmail.com', 'hassan.ali@outlook.com', 'mariam.samir@gmail.com']

In [27]:
df['email']=email
df.head()

,ID,Messy Text,Name,Date of Birth,email
0,1,Mohamed Ali loves football. You can email him ...,Mohamed Ali,12/05/1990,mohamedali@gmail.com
1,2,"On 15/08/1985, Ahmed Saad was born. He enjoys ...",Ahmed Saad,15/08/1985,ahmedsaad@yahoo.com
2,3,Sara Mohamed’s phone is 01198765432. She was b...,Sara Mohamed,30/12/1988,sara.mohamed@gmail.com
3,4,"Fatima ElSayed, an architect, was born on 07/0...",Fatima El,07/07/1992,fatimaelsayed@outlook.com
4,5,Mohamed Khalil runs a shop. Call him at 015112...,Mohamed Khalil,20/01/1980,mohamed.khalil@gmail.com

## 6- Drop the Messy text column

In [28]:
df.drop(columns='Messy Text',inplace=True)

## 7- Show The cleaned data

In [29]:
df.head()

   ID            Name Date of Birth                      email
0   1     Mohamed Ali    12/05/1990       mohamedali@gmail.com
1   2      Ahmed Saad    15/08/1985        ahmedsaad@yahoo.com
2   3    Sara Mohamed    30/12/1988     sara.mohamed@gmail.com
3   4       Fatima El    07/07/1992  fatimaelsayed@outlook.com
4   5  Mohamed Khalil    20/01/1980   mohamed.khalil@gmail.com

In [30]:
df=df.set_index('ID')
df.head()

              Name Date of Birth                      email
ID
1      Mohamed Ali    12/05/1990       mohamedali@gmail.com
2       Ahmed Saad    15/08/1985        ahmedsaad@yahoo.com
3     Sara Mohamed    30/12/1988     sara.mohamed@gmail.com
4        Fatima El    07/07/1992  fatimaelsayed@outlook.com
5   Mohamed Khalil    20/01/1980   mohamed.khalil@gmail.com